<body style="background-image: url('https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=2940&auto=form&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-position: center;">
    <div class="min-h-screen flex items-center justify-center">
      <div class="max-w-md w-full px-4 py-4 bg-black rounded-lg shadow-md">
        <div class="flex justify-center ">
          <img src="/assets/images/fitShareLogo.png" alt="Logo" class="w-36 h-auto ">
          
        </div>
        <hr class="mb-2">
        <h1 class="text-3xl font-bold text-gray-300 text-center mb-2 bg-gradient-to-r from-lime-600 to-lime-700">Reset Password</h1>
  
        <form [formGroup]="resetForm" (ngSubmit)="reset()" #formDirective="ngForm">
            <div class="mb-4">
              <label for="newPassword" class="block text-sm font-medium text-gray-700">New Password</label>
              <input type="password" 
                     class="mt-1 block w-full rounded-md border bg-gray-100 border-gray-300 shadow-sm px-3 py-2 focus:outline-none focus:ring-indigo-500 focus:ring-1"
                     id="newPassword" 
                     placeholder="Enter your new password" 
                     formControlName="newPassword">
              <div class="text-red-500" *ngIf="resetForm.get('newPassword').touched && resetForm.get('newPassword').hasError('required')">
                New password is required.
              </div>
              <div class="text-red-500" *ngIf="resetForm.get('newPassword').touched && resetForm.get('newPassword').hasError('minlength')">
                Password must be at least 8 characters long.
              </div>
            </div>
            <div class="mb-4">
              <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirm New Password</label>
              <input type="password" 
                     class="mt-1 block w-full rounded-md border bg-gray-100 border-gray-300 shadow-sm px-3 py-2 focus:outline-none focus:ring-indigo-500 focus:ring-1"
                     id="confirmPassword" 
                     placeholder="Confirm your new password" 
                     formControlName="confirmPassword">
              <div class="text-red-500" *ngIf="resetForm.get('confirmPassword').touched && resetForm.get('confirmPassword').hasError('required')">
                Confirm password is required.
              </div>
              <div class="text-red-500" *ngIf="resetForm.get('confirmPassword').touched && resetForm.hasError('passwordsDontMatch')">
                Passwords do not match.
              </div>
            </div>
            <button type="submit" 
                    class="inline-flex items-center px-4 py-2 bg-lime-500 text-white rounded-md hover:bg-lime-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-500"
                    [disabled]="resetForm.invalid">
              <i class="fas fa-lock mr-2"></i>Reset Password
            </button>
          </form>
                    
          
          
        
      </div>
    </div>
  </body>
