
<section class="pt-48">



<div class="flex justify-center gap-2 flex-wrap">
  <div class="max-w-7xl w-full flex flex-col items-center justify-center gap-3">
    <h2 class="text-2xl text-center md:text-5xl text-white font-semibold uppercase tracking-wide">
        Available <span class="text-lime-500">Equipments</span>
    </h2>
 </div>
    <app-equipment-card 
    *ngFor="let equipment of equipmentResponse.content"
     [equipment]="equipment"
     (borrow)="borrowEquipment($event)"
     > 
    </app-equipment-card>
</div>

<div class="flex justify-center my-4">
  <nav aria-label="Page navigation example">
    <ul class="inline-flex list-none -space-x-px">
      <li class="inline-flex items-center rounded-l-md bg-gray-800 border border-gray-400 px-3 py-2 hover:bg-gray-700 cursor-pointer"
          [class.opacity-50]="page === 0">
        <a (click)="goToFirstPage()" href="javascript:void(0)" aria-label="Previous">
          <i class="fas fa-solid fa-angles-left text-lime-300"></i>
        </a>
      </li>
      <li class="inline-flex items-center rounded-l-none bg-gray-800 border border-gray-400 px-3 py-2 hover:bg-gray-700 cursor-pointer"
          [class.opacity-50]="page === 0">
        <a (click)="goToPreviousPage()" href="javascript:void(0)" aria-label="Previous">
          <i class="fas fa-solid fa-angle-left text-lime-300"></i>
        </a>
      </li>
      <li *ngFor="let pageIndex of pages" class="inline-flex items-center px-3 py-2 text-center">
          <a (click)="gotToPage(pageIndex)" class="text-lime-500 hover:text-lime-700"
            [class.font-bold]="page === pageIndex" href="javascript:void(0)">
            {{ pageIndex + 1 }}
          </a>
        </li>
        
      <li class="inline-flex items-center rounded-r-none bg-gray-800 border border-gray-400 px-3 py-2 hover:bg-gray-700 cursor-pointer"
          [class.opacity-50]="isLastPage">
        <a (click)="goToNextPage()" href="javascript:void(0)" aria-label="Next">
          <i class="fas fa-solid fa-chevron-right text-lime-300"></i>
        </a>
      </li>
      <li class="inline-flex items-center rounded-r-md bg-gray-800 border border-gray-400 px-3 py-2 hover:bg-gray-700 cursor-pointer"
          [class.opacity-50]="isLastPage">
        <a (click)="goToLastPage()" href="javascript:void(0)" aria-label="Next">
          <i class="fas fa-solid fa-angles-right text-lime-300"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>

</section>