<nav class="absolute w-full top-0 left-0 h-screen z-50 {{ isSideBarShowing ? 'flex' : 'hidden' }}">
    <div class="bg-black w-full md:max-w-sm shadow-2xl">
        <div class="flex justify-end text-white p-5">
            <svg (click)="closeSideBar()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-lime-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
        </div>
        <div>
            <div class="mt-3"></div>
            <div class="mt-3"></div>

            
            <ng-container *ngIf="!isLoggedIn(); else authLinksTemplate">
                <div class="mt-3">
                    <app-auth-links></app-auth-links>
                </div>
            </ng-container>
            
           
            <ng-template #authLinksTemplate>
                <!-- Check if the user is logged in -->
                <div class="" *ngIf="isLoggedIn()">
                  <!-- Conditional rendering based on userRole -->
                  <div>
                    <!-- User Image with Dropdown -->
                    <div class="relative ">
                        <button class="flex  items-center mr-4 mb-4 space-x-2  rounded-full p-2" (click)="toggleDropdown()">
                            <ng-container >
                                <div class="flex-col">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16 text-lime-500 ">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                    </svg>
                                    <p class="text-lime-500 font-bold">{{username}}</p>
                                </div>      
                            </ng-container>
                        </button>
                        
              
                      <!-- Dropdown Menu -->
                      <div *ngIf="isDropdownOpen" class="absolute top-10 right-0 z-10">
                        <div class="bg-white rounded-lg shadow-lg overflow-hidden border border-gray-200">
                            <a href="#" class="block px-4 py-3 text-sm text-gray-700 hover:bg-gray-100 border-b border-gray-200"
                                (click)="logout(); toggleDropdown()">
                                Logout
                            </a>
                        </div>
                    </div>
                    
                    </div>
                  </div>
              
                 
                </div>
              </ng-template>
              
              
           
            <div class="mt-6">
                <ul class="flex flex-col space-x-6 gap-6">
                  
                    <li class="nav-item py-2 px-4 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700">
                        <a class="flex items-center text-sm font-medium text-gray-700 dark:text-white hover:text-lime-500" href="/equipment-list">
                          <i class="fas fa-dumbbell mr-2 text-lg"></i>
                          Equipment List
                        </a>
                      </li>
                      <li class="nav-item py-2 px-4 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700">
                        <a class="flex items-center text-sm font-medium text-gray-700 dark:text-white hover:text-lime-500" href="/my-equipments">
                          <i class="fas fa-list-alt mr-2 text-lg"></i>
      
                          My Equipments
                        </a>
                      </li>
                      <li class="nav-item py-2 px-4 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700">
                        <a class="flex items-center text-sm font-medium text-gray-700 dark:text-white hover:text-lime-500" href="/my-returned-equipments">
                          <i class="fas fa-truck mr-2 text-lg"></i>
                          Returned Equipments
                        </a>
                      </li>
                      <li class="nav-item py-2 px-4 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700">
                        <a class="flex items-center text-sm font-medium text-gray-700 dark:text-white hover:text-lime-500" href="/my-borrowed-equipments">
                          <i class="fas fa-list mr-2 text-lg"></i>
                          Rented Equipments
                        </a>
                      </li>
                </ul>
                
            </div>
            <div class="mt-6">
                
            </div>
        </div>
    </div>
    <div (click)="closeSideBar()" class="bg-gray-900 opacity-75 hidden md:block md:w-full"></div>
</nav>

<header class="absolute w-full">
    
    
   <div class=" md:px-[100px] px-5 {{isMenuScrolled?'fixed top-0 w-full bg-black shadow-xl animate-slideInDown animate-faster ':'pt-5'}}">
    <div class=" flex items-center justify-between container {{isMenuScrolled?'border-b':'border bg-black'}}  border-lime-500  rounded-xl ">
        <a href="/">
            <img src="/assets/images/fitShareLogo.png" class="w-[110px] h-[110px]" alt="">
        </a>
        
        <div class="text-white lg:hidden mr-2">
            <svg (click)="openSideBar()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-lime-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
              
        </div>
        <div class="mt-6 hidden lg:block">
            <ul class="flex space-x-4">
                <li class="nav-item py-2 px-4 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700">
                  <a class="flex items-center text-sm font-medium text-gray-700 dark:text-white hover:text-lime-500" href="/equipment-list">
                    <i class="fas fa-dumbbell mr-2 text-lg"></i>
                    Equipment List
                  </a>
                </li>
                <li class="nav-item py-2 px-4 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700">
                  <a class="flex items-center text-sm font-medium text-gray-700 dark:text-white hover:text-lime-500" href="/my-equipments">
                    <i class="fas fa-list-alt mr-2 text-lg"></i>

                    My Equipments
                  </a>
                </li>
                <li class="nav-item py-2 px-4 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700">
                  <a class="flex items-center text-sm font-medium text-gray-700 dark:text-white hover:text-lime-500" href="/my-returned-equipments">
                    <i class="fas fa-truck mr-2 text-lg"></i>
                    Returned Equipments
                  </a>
                </li>
                <li class="nav-item py-2 px-4 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700">
                  <a class="flex items-center text-sm font-medium text-gray-700 dark:text-white hover:text-lime-500" href="/my-borrowed-equipments">
                    <i class="fas fa-list mr-2 text-lg"></i>
                    Rented Equipments
                  </a>
                </li>
              </ul>
              
            
            
            
        </div>
        
        <div class="mt-6 hidden lg:block">
        <ng-container *ngIf="!isLoggedIn(); else authLinksTemplate">
            <div class="mt-3">
                <app-auth-links class="hidden lg:block"></app-auth-links>
            </div>
        </ng-container>
        
       
        <ng-template #authLinksTemplate>
          
            <div class="mt-6 flex justify-center "   *ngIf="isLoggedIn()">
                <app-button class="hidden lg:block" name="Logout" shade="W" (click)="logout()"></app-button>
            </div>
        </ng-template>
        </div>
    
       
    </div>
   </div>
</header>
