<body class="mt-16">
    <section class="hero relative bg-gradient-to-r from-gray-700 to-gray-900 text-white py-32 md:py-48"  style="background-image: url('https://images.unsplash.com/photo-1605296867304-46d5465a13f1?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');   background-size: cover; background-position: center;">
        <div class="container mx-auto flex flex-col items-center justify-center h-full z-10"> <h2 class="font-bold md:font-extrabold mb-4 text-3xl md:text-6xl"> <span class="text-lime-500">FitShare</span> Network</h2>
          <p class="text-lg text-center text-gray-500 mb-8">Rent or share your fitness equipment with others</p>
          <button class="btn bg-lime-500 hover:bg-lime-600 text-white py-4 px-14 rounded-full">Get Started</button>
        </div>
       
    </section>
      
      
  
    <section class="features bg-black   relative py-10">
        <div class="container mx-auto">
          <div class="mt-8 text-center">
            <h1 class="text-3xl  md:text-6xl  text-lime-500 text-center font-semibold "><span class="text-white">Our</span> Features </h1>
            <div class="flex flex-wrap justify-center gap-4 mt-8">
                <div class="feature rounded-lg shadow hover:shadow-lg overflow-hidden cursor-pointer">
                  <div class="bg-gradient-to-r from-gray-600 to-gray-800 p-8 text-white flex flex-col items-center justify-center">
                       
                     <img src="/assets/images/convenience.png" class="w-36 h-36" alt="">
                    <h3 class="text-2xl font-semibold m-2">Convenience</h3>
                    <p class="text-lg text-center">Rent or share equipment hassle-free</p>
                  </div>
                </div>
                <div class="feature rounded-lg shadow hover:shadow-lg  overflow-hidden cursor-pointer">
                  <div class="bg-gradient-to-r from-lime-600 to-lime-800 p-8 text-white flex flex-col items-center justify-center">
                    <img src="/assets/images/return-on-investment.png" class="w-36 h-36" alt="">
                    <h3 class="text-2xl font-semibold m-2">Cost-effective</h3>
                    <p class="text-lg text-center ">Save money by renting instead of buying</p>
                  </div>
                </div>
                </div>
          </div>
        </div>
      </section>
      
      
  
  </body>
  